[submodule "thirdparty/libsndfile"]
	path = thirdparty/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "thirdparty/ogg"]
	path = thirdparty/ogg
	url = https://github.com/xiph/ogg.git
[submodule "thirdparty/vorbis"]
	path = thirdparty/vorbis
	url = https://github.com/xiph/vorbis.git
[submodule "thirdparty/brotli"]
	path = thirdparty/brotli
	url = https://github.com/google/brotli.git
